#1. Read the housingdata.csv file into pandas DataFrame and display first six rows of the DataFrame

In [24]:
import pandas as pd
hd = pd.read_csv("housingdata.csv")
hd.head(6)

           PID        STATE      PRICE NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0           MP     321654            3        1  1000
1  100002000.0  MAHARASHTRA      21325            3      1.5    --
2  100003000.0           AP    2541654          NaN        1   850
3  100004000.0           TN     321321            1      NaN   700
4          NaN           TN  589465645            3        2  1600
5  100006000.0           TN   65465466          NaN        1   800

#2. Display the column names and row index in separate cells.

In [11]:
list1 = hd.columns
list1

Index(['PID', 'STATE', 'PRICE', 'NUM_BEDROOMS', 'NUM_BATH', 'SQ_FT'], dtype='object')

In [12]:
list2 = hd.index
list2

RangeIndex(start=0, stop=9, step=1)

#3.

In [13]:
print("Number of States : ", hd.shape[0])

Number of States :  9

In [14]:
print("Number of Uniques States: ", len(list(set(hd['STATE']))))

Number of Uniques States:  6

#4.

In [15]:
hd.isnull()

     PID  STATE  PRICE  NUM_BEDROOMS  NUM_BATH  SQ_FT
0  False  False  False         False     False  False
1  False  False  False         False     False  False
2  False  False  False          True     False  False
3  False  False  False         False      True  False
4   True  False  False         False     False  False
5  False  False  False          True     False  False
6  False  False  False         False     False  False
7  False  False  False         False     False   True
8  False  False  False         False     False  False

#5.

In [25]:
hd = hd.dropna(subset = ['NUM_BEDROOMS'])
hd

           PID        STATE      PRICE NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0           MP     321654            3        1  1000
1  100002000.0  MAHARASHTRA      21325            3      1.5    --
3  100004000.0           TN     321321            1      NaN   700
4          NaN           TN  589465645            3        2  1600
6  100007000.0        ASSAM    3222321            2   HURLEY   950
7  100008000.0           HP      23131            1        1   NaN
8  100009000.0           HP      21212           na        2  1800

#6

In [28]:
hd['NUM_BATH'].fillna(method='pad',inplace=True)
hd['NUM_BATH'].replace(to_replace='HURLEY',method='pad', inplace=True)
hd

           PID        STATE      PRICE NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0           MP     321654            3        1  1000
1  100002000.0  MAHARASHTRA      21325            3      1.5    --
3  100004000.0           TN     321321            1      1.5   700
4          NaN           TN  589465645            3        2  1600
6  100007000.0        ASSAM    3222321            2        2   950
7  100008000.0           HP      23131            1        1   NaN
8  100009000.0           HP      21212           na        2  1800

#7

In [29]:
import numpy as np
hd['SQ_FT'] = hd['SQ_FT'].replace('--', np.nan)
hd['SQ_FT'] = pd.to_numeric(hd['SQ_FT'])
hd['SQ_FT'].fillna(value=hd['SQ_FT'].mean(), inplace=True)
hd

           PID        STATE      PRICE NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0           MP     321654            3        1  1000.0
1  100002000.0  MAHARASHTRA      21325            3      1.5  1210.0
3  100004000.0           TN     321321            1      1.5   700.0
4          NaN           TN  589465645            3        2  1600.0
6  100007000.0        ASSAM    3222321            2        2   950.0
7  100008000.0           HP      23131            1        1  1210.0
8  100009000.0           HP      21212           na        2  1800.0

#8

In [30]:
print('Sum of all entries: ' ,hd['SQ_FT'].sum())

Sum of all entries:  8470.0

#9

In [31]:
hd['NUM_STORE'] = [1 for i in range(len(hd))]
hd

,PID,STATE,PRICE,NUM_BEDROOMS,NUM_BATH,SQ_FT,NUM_STORE
0,100001000.0,MP,321654,3,1,1000.0,1
1,100002000.0,MAHARASHTRA,21325,3,1.5,1210.0,1
3,100004000.0,TN,321321,1,1.5,700.0,1
4,NaN,TN,589465645,3,2,1600.0,1
6,100007000.0,ASSAM,3222321,2,2,950.0,1
7,100008000.0,HP,23131,1,1,1210.0,1
8,100009000.0,HP,21212,na,2,1800.0,1

#10

In [32]:
hd2 = hd[hd['STATE'] == 'TN'] 
hd2

           PID STATE      PRICE NUM_BEDROOMS NUM_BATH   SQ_FT  NUM_STORE
3  100004000.0    TN     321321            1      1.5   700.0          1
4          NaN    TN  589465645            3        2  1600.0          1

#14

In [33]:
hd3 = hd[hd['SQ_FT']>1000]
hd3

,PID,STATE,PRICE,NUM_BEDROOMS,NUM_BATH,SQ_FT,NUM_STORE
1,100002000.0,MAHARASHTRA,21325,3,1.5,1210.0,1
4,NaN,TN,589465645,3,2,1600.0,1
7,100008000.0,HP,23131,1,1,1210.0,1
8,100009000.0,HP,21212,na,2,1800.0,1

#15

In [34]:
hd4 = hd.iloc[0:3,0:3]
hd4

           PID        STATE   PRICE
0  100001000.0           MP  321654
1  100002000.0  MAHARASHTRA   21325
3  100004000.0           TN  321321

#16

In [35]:
avg_pr = list(map(lambda x,y: x/y,hd['PRICE'],hd['SQ_FT']))
hd['STATE'][avg_pr.index(max(avg_pr))]

'TN'