#1. Write a program to input two numbers and perform their addition

In [ ]:
x = int(input("enter the first nummber: "))
y= int(input("enter the second nummber: "))
print(x+y)

enter the first nummber: 5
enter the second nummber: 90
95

#2. Write a program to input marks and calculate the grade of a student as per the DIAT norms.

In [ ]:
x = int(input("enter the marks obtained: "))
if(x<0 or x>100):
  print("Invalid Input")
elif (x>90 and x<=100):
  print("grade Obtained : O")
elif (x>80 and x<=90):
  print("grade Obtained : A+")
elif (x>70 and x<=80):
  print("grade Obtained : A")
elif (x>60 and x<=70):
  print("grade Obtained : B+")
elif (x>50 and x<=60):
  print("grade Obtained : B")
elif (x>=40 and x<=50):
  print("grade Obtained : C")
else:
  print("grade Obtained : F")

enter the marks obtained: 90
grade Obtained : A+

#3. Write a program to find largest among 3 numbers

In [ ]:
list1 = list(map(int, input("Enter 3 Numbers: ").split()))
def max2(x,y):
  if x > y:
    return x
  else:
    return y

largest_number = 0

for i in range(3):
  largest_number = max2(list1[i],largest_number)

print(largest_number)

Enter 3 Numbers: 12 90 100
100

--- solution using using lambda and reduce function ---

In [ ]:
from functools import reduce
print(reduce(lambda x,y : x if(x > y) else y,list(map(int, input("Enter 3 Numbers: ").split()))))

Enter 3 Numbers: 90 10 82
90

#4. Write a program to input number of lines from the user and print the patterns:

In [ ]:
x = int(input("enter number of lines: "))
for i in range(x+1):
  print("*"*i)

enter number of lines: 4

*
**
***
****

#5. Write a program to print the Diamond Pattern

In [ ]:
x = int(input("Enter Number of Lines for Diamond Pattern: "))
#Upper Part
for i in range(x//2+1):
  print(" "*(x//2-i),end='')
  for j in range(i+1):
    print('*',end =' ')
  print('')

#Lower Part
for i in range(x//2):
  print(" "*(i+1),end='')
  for j in range(x//2-i,0,-1):
    print('*',end =' ')
  print('')

Enter Number of Lines for Diamond Pattern: 5
  *
 * *
* * *
 * *
  *

#6. Write a program to print the following Pattern

In [ ]:
x = int(input("Enter Number of Lines in the Pattern: "))
for i in range(x//2+1):
  print("*"*(i+1))
for i in range(x//2,0,-1):
  print("*"*i)

Enter Number of Lines in the Pattern: 5
*
**
***
**
*

#7. Write a program to make a List in Python and perform following operations on List:
a) length using len() function
b) print element at index 0
c) adding an element to the list using + operator
d) appending an element to the list
e) negative indexing in list
f) remove the first occurrence of element a from list
g) reverse the list
h) sort list

In [ ]:
list1 = ["Apple", "Orange", "Kiwi", "Guava", "Watermelon", "Apricot"]

In [ ]:
print(len(list1))

6

In [ ]:
print(list1[0])

Apple

In [ ]:
list1 += ["Banana"]
print(list1)

['Apple', 'Orange', 'Kiwi', 'Guava', 'Watermelon', 'Apricot', 'Banana']

In [ ]:
list1.append("Chikko")
print(list1)

['Apple', 'Orange', 'Kiwi', 'Guava', 'Watermelon', 'Apricot', 'Banana', 'Chikko']

In [ ]:
print(list1[-1])
print(list1[-2])

Chikko
Banana

In [ ]:
list1.pop(0)
print(list1)

['Orange', 'Kiwi', 'Guava', 'Watermelon', 'Apricot', 'Banana', 'Chikko']

In [ ]:
list1.reverse()
print(list1)

['Chikko', 'Banana', 'Apricot', 'Watermelon', 'Guava', 'Kiwi', 'Orange']

In [ ]:
list1.sort()
print(list1)

['Apricot', 'Banana', 'Chikko', 'Guava', 'Kiwi', 'Orange', 'Watermelon']

#8. Write a program to demonstrate use of Dictionary in Python with their inbuilt functions.

In [ ]:
dict1 = {"firstName" : "Jack",
         "lastName": "Haigar",
         "age": 30,
         "postion": "CR",
         "class": 10,
         "section": 'A'}

In [ ]:
print(dict1)

{'firstName': 'Jack', 'lastName': 'Haigar', 'age': 30, 'postion': 'CR', 'class': 10, 'section': 'A'}

In [ ]:
dict1.keys()

dict_keys(['firstName', 'lastName', 'age', 'postion', 'class', 'section'])

In [ ]:
dict1.values()

dict_values(['Jack', 'Haigar', 30, 'CR', 10, 'A'])

In [ ]:
dict1['age'] = 29
print(dict1)

{'firstName': 'Jack', 'lastName': 'Haigar', 'age': 29, 'postion': 'CR', 'class': 10, 'section': 'A'}

In [ ]:
dict1['marks'] = 96
print(dict1)

{'firstName': 'Jack', 'lastName': 'Haigar', 'age': 29, 'postion': 'CR', 'class': 10, 'section': 'A', 'marks': 96}

In [ ]:
del dict1['marks']
print(dict1)

{'firstName': 'Jack', 'lastName': 'Haigar', 'age': 29, 'postion': 'CR', 'class': 10, 'section': 'A'}

In [ ]:
len(dict1)

6

In [ ]:
str(dict1)

"{'firstName': 'Jack', 'lastName': 'Haigar', 'age': 29, 'postion': 'CR', 'class': 10, 'section': 'A'}"

In [ ]:
type(dict1)

dict

In [ ]:
dict2 = dict1.copy()
print (dict2)

{'firstName': 'Jack', 'lastName': 'Haigar', 'age': 29, 'postion': 'CR', 'class': 10, 'section': 'A'}

In [ ]:
seq = ('name', 'age', 'sex')
value = 'X'
dict3 = dict.fromkeys(seq,value)
print (dict3)

{'name': 'X', 'age': 'X', 'sex': 'X'}

In [ ]:
dict1.get('age',"NA")

29

In [ ]:
print(dict1.get('num',"NA"))
print(dict1)

NA
{'firstName': 'Jack', 'lastName': 'Haigar', 'age': 29, 'postion': 'CR', 'class': 10, 'section': 'A'}

In [ ]:
dict1.setdefault('age',"NA")

29

In [ ]:
print(dict1.setdefault('num',"NA"))
print(dict1)

NA
{'firstName': 'Jack', 'lastName': 'Haigar', 'age': 29, 'postion': 'CR', 'class': 10, 'section': 'A', 'num': 'NA'}

In [ ]:
dict1.items()

dict_items([('firstName', 'Jack'), ('lastName', 'Haigar'), ('age', 29), ('postion', 'CR'), ('class', 10), ('section', 'A'), ('num', 'NA')])

In [ ]:
dict1.update(dict3)
print(dict1)

{'firstName': 'Jack', 'lastName': 'Haigar', 'age': 'X', 'postion': 'CR', 'class': 10, 'section': 'A', 'num': 'NA', 'name': 'X', 'sex': 'X'}

In [ ]:
dict1.clear()
print(dict1)
del dict1

{}

#9. Write a program to demonstrate use of Set in Python with their inbuilt functions.

In [ ]:
set1 = {"python", "C", "Java", "C++"}
print(set1)

{'C', 'Java', 'python', 'C++'}

In [ ]:
set1.add("VHDL")
print(set1)

{'C++', 'C', 'Java', 'python', 'VHDL'}

In [ ]:
set1.pop()
print(set1)

{'C', 'Java', 'python', 'VHDL'}

In [ ]:
set2 = set1.copy()
print(set2)

{'C', 'Java', 'python', 'VHDL'}

In [ ]:
set1 = {"python", "C", "Java", "C++"}
set2 = {"Apple", "Orange", "Kiwi", "python"}
diff = set1.difference(set2)
print(diff)

{'C', 'Java', 'C++'}

In [ ]:
set1 = {"python", "C", "Java", "C++"}
set2 = {"Apple", "Orange", "Kiwi", "python"}
set1.difference_update(set2)
print(set1)

{'C', 'Java', 'C++'}

In [ ]:
set1 = {"python", "C", "Java", "C++"}
set2 = {"Apple", "Orange", "Kiwi", "python"}
intersection = set1.intersection(set2)
print(intersection)

{'python'}

In [ ]:
set1 = {"python", "C", "Java", "C++"}
set2 = {"Apple", "Orange", "Kiwi", "python"}
set1.intersection_update(set2)
print(set1)

{'python'}

In [ ]:
set1 = {"python", "C", "Java", "C++"}
set2 = {"Apple", "Orange", "Kiwi", "python"}
disjnt = set1.isdisjoint(set2)
print(disjnt)

False

In [ ]:
set1 = {"python", "C", "Java", "C++"}
set2 = {"Apple", "Orange", "Kiwi", "python", "C", "Java", "C++"}
subset = set1.issubset(set2)
print(subset)

True

In [ ]:
set1 = {"python", "C", "Java", "C++"}
set2 = {"Apple", "Orange", "Kiwi", "python", "C", "Java", "C++"}
superset1 = set1.issuperset(set2)
print(superset1)
superset2 = set2.issuperset(set1)
print(superset2)

False
True

In [ ]:
set1 = {"python", "C", "Java", "C++"}
print(set1)
set1.remove('python')
print(set1)

{'C', 'Java', 'python', 'C++'}
{'C', 'Java', 'C++'}

In [ ]:
set1 = {"python", "C", "Java", "C++"}
set2 = {"Apple", "Orange", "Kiwi", "python"}
sym_diff = set1.symmetric_difference(set2)
print(sym_diff)

{'C++', 'C', 'Java', 'Orange', 'Apple', 'Kiwi'}

In [ ]:
set1 = {"python", "C", "Java", "C++"}
set2 = {"Apple", "Orange", "Kiwi", "python"}
set1.symmetric_difference_update(set2)
print(set1)

{'C++', 'C', 'Java', 'Orange', 'Apple', 'Kiwi'}

In [ ]:
set1 = {"python", "C", "Java", "C++"}
set2 = {"Apple", "Orange", "Kiwi", "python"}
set3 = set1.union(set2)
print(set3)

{'C++', 'C', 'Java', 'Orange', 'Apple', 'python', 'Kiwi'}

In [ ]:
set1 = {"python", "C", "Java", "C++"}
set2 = {"Apple", "Orange", "Kiwi", "python"}
set1.update(set2)
print(set1)

{'C++', 'C', 'Java', 'Orange', 'Apple', 'python', 'Kiwi'}

In [ ]:
set1 = {"python", "C", "Java", "C++"}
print(set1)
set1.clear()
print(set1)

{'C', 'Java', 'python', 'C++'}
set()

In [ ]:
set1 = {"python", "C", "Java", "C++"}
print(set1)
set1.discard('python')
print(set1)

{'C', 'Java', 'python', 'C++'}
{'C', 'Java', 'C++'}

In [ ]:
del set1

#10. Write a program to demonstrate use of Tuple in Python with their inbuilt functions.

In [ ]:
tuple1 = (1, 5, 6, 8, 9, 10, 7, 1)
tuple2 = ("python", "Java", "C", "C++")
print(tuple1[1])
print(tuple1[1:5])

5
(5, 6, 8, 9)

In [ ]:
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 5, 6, 8, 9, 10, 7, 1, 'python', 'Java', 'C', 'C++')

In [ ]:
len(tuple1)

8

In [ ]:
6 in tuple1

True

In [ ]:
tuple1.count(1)

2

In [ ]:
tuple1.index(1)

0

In [ ]:
list1 = [3, 9, 9, 4, 6, 7]
tuple3 = tuple(list1)
print(tuple3)

(3, 9, 9, 4, 6, 7)

#11. Write a program to calculate Median using List.

In [ ]:
list1 = [1, 6, 4, 3, 8, 7, 9]
list1.sort()
print("Sorted List: ", list1)
mid = len(list1)//2
print("Median: ", (list1[mid] + list1[-mid-1])/2)

Sorted List:  [1, 3, 4, 6, 7, 8, 9]
Median:  6.0

#12. Write a program to calculate Mode using List.

In [ ]:
list1 = [1, 2, 4, 2, 8, 1, 1, 2]
list1.sort()
print("Sorted List: ", list1)
list2 = []
for i in range(len(list1)):
  list2.append(list1.count(list1[i]))

print(list2)
dict1 = dict(zip(list1,list2))
dict2 ={k for (k,v) in dict1.items() if v == max(list2) }
  
print("Mode(s) is/are :" + str(dict2))

Sorted List:  [1, 1, 1, 2, 2, 2, 4, 8]
[3, 3, 3, 3, 3, 3, 1, 1]
Mode(s) is/are :{1, 2}

#13. Write a program to calculate Mean using List.

In [ ]:
list1 = list(range(0,10))
print(list1)
print("Mean : ", reduce(lambda x,y: x+y, list1)/len(list1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Mean :  4.5

#14. Write a program to demonstrate list creation, append entire list to another list

In [ ]:
list1 = [1, 4, 9, 1, 4]
list2 = [3, 8, 0, 7, 5]
list1.append(list2)
print(list1)

[1, 4, 9, 1, 4, [3, 8, 0, 7, 5]]

#15. Write a program to demonstrate slicing operations on the list

In [ ]:
list2 = [3, 8, 0, 7, 5]
x = slice(1,5)
print(list2[x])

[8, 0, 7, 5]

#16. Write a program to find minimum, maximum in a list

In [ ]:
from functools import reduce
list1 = [1, 6, 80, 4, 34, 0, 8]
print("Maximum: ", reduce(lambda x,y : x if(x > y) else y,list1))
print("Minimum: ", reduce(lambda x,y : x if(x < y) else y,list1))

Maximum:  80
Minimum:  0

#17. Write a program to search an element in a list, find the number of occurrences and the index of its first occurrence

In [ ]:
x = int(input("Enter the number to search: "))
list1 = [1, 6, 80, 4, 34, 0, 8, 12, 78, 22, 22, 90, 1, 6, 4, 6]
print("Index of First Ocuurence:= ", list1.index(x))
print("Total Number of Occurence: ", len(list(filter(lambda s: s== x, list1))))

Enter the number to search: 6
Index of First Ocuurence:=  1
Total Number of Occurence:  3

#18. Write a program to create a 2D list

In [ ]:
list1 = [[1,2 ,3],['apple','banana','tickle'],[2.9, 7.584, 20.7561]]
print(list1)

[[1, 2, 3], ['apple', 'banana', 'tickle'], [2.9, 7.584, 20.7561]]

#19. Write a program to iterate over a 2D list in different ways

In [ ]:
list1 = [[1,2 ,3],['apple','banana','tickle'],[2.9, 7.584, 20.7561]]
print(list1)
for item in list1:
  for j in item:
    print(j)

[[1, 2, 3], ['apple', 'banana', 'tickle'], [2.9, 7.584, 20.7561]]
1
2
3
apple
banana
tickle
2.9
7.584
20.7561

In [ ]:
for i in range(len(list1)):
  for j in range(len(list1[i])):
    print(list1[i][j])

1
2
3
apple
banana
tickle
2.9
7.584
20.7561

#20. Write a program to perform spilt and join operation on a list.

In [ ]:
list1 = [3, 8, 0, 7, 5]
list2 = list1[0:3]
list3 = list1[3:]
print(list2,'\n',list3)

[3, 8, 0]
 [7, 5]

In [ ]:
list2.extend(list3)
print(list2)

[3, 8, 0, 7, 5]